<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="Top Ten genres by ratings"
	packages="">
	<Appenders>
		<RollingFile name="RollingFile"
			fileName="/home/nilanjan/top_ten_genres/top_ten_genres.log"
			filePattern="/home/nilanjan/top_ten_genres/logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
		</RollingFile>
		<Console name="STDOUT" target="SYSTEM_OUT"
			ignoreExceptions="false">
			<PatternLayout pattern="%m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="STDOUT" />
		</Root>
		<Logger name="com.njkol" level="trace" additivity="false">
			<appenderRef ref="RollingFile" level="info" />
		</Logger>
	</Loggers>
</Configuration>